@font-face {
    font-family: 'THSarabun';
    src: url('./th-sarabun-psk/THSarabun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabun';
    src: url('./th-sarabun-psk/THSarabun Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabun';
    src: url('./th-sarabun-psk/THSarabun Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'THSarabun';
    src: url('./th-sarabun-psk/THSarabun Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}